<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toni's 25th Birthday Celebration!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="blinking-text">Alles Gute zum Geburtstag liebe Toni!</h1>
        
        <video src="{{ url_for('static', filename='gif_videos/blue-eat.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>

        <p><small>!</small></p>
        <div class="visitor-count">
            <marquee>Du bist Besucher:in NR: {{ visitor_count }}</marquee>
        </div>
        <div class="gif-section">
            <h2>Alle Brüder dieser Welt grüßen dich!</h2>
            <div class="gif-container">
                <video src="{{ url_for('static', filename='gif_videos/1.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
                <video src="{{ url_for('static', filename='gif_videos/2.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
                <video src="{{ url_for('static', filename='gif_videos/3.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
                <video src="{{ url_for('static', filename='gif_videos/4.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
                <video src="{{ url_for('static', filename='gif_videos/5.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
                <video src="{{ url_for('static', filename='gif_videos/6.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
                <video src="{{ url_for('static', filename='gif_videos/7.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
                <video src="{{ url_for('static', filename='gif_videos/8.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
                <video src="{{ url_for('static', filename='gif_videos/9.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
                <video src="{{ url_for('static', filename='gif_videos/10.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
                <video src="{{ url_for('static', filename='gif_videos/11.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
                <video src="{{ url_for('static', filename='gif_videos/12.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
            </div>
        </div>
        <div class="photo-story">
            <h2>Bitte beachten sie die total abgefahrene anonymisierte Foto Story - Keinerlei Säugetiere sind bei den Aufnahmen zu Schaden gekommen!</h2>
            <div class="slideshow-container">
                <img src="{{ url_for('static', filename='images/photo1.jpg') }}" alt="Photo 1" class="slide">
                <img src="{{ url_for('static', filename='images/photo2.jpg') }}" alt="Photo 2" class="slide">
                <img src="{{ url_for('static', filename='images/photo3.jpg') }}" alt="Photo 3" class="slide">
                <img src="{{ url_for('static', filename='images/photo4.jpg') }}" alt="Photo 4" class="slide">
                <img src="{{ url_for('static', filename='images/photo5.jpg') }}" alt="Photo 5" class="slide">
                <img src="{{ url_for('static', filename='images/photo6.jpg') }}" alt="Photo 6" class="slide">
            </div>
            <button class="prev-button">Previous</button>
            <button class="next-button">Next</button>
        </div>
       
        <div class="horoscope-section">
            <video src="{{ url_for('static', filename='images/fractal1.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
            <div class="horoscope-content">
                <h2>Dein Horoskop</h2>
                <p>Jungfrau (24.08. - 23.09.)</p>
                <p>Im Ausklang dieses Monats stürzen Sie geradezu mit Schwung und Elan in die kommenden Tage. Sie können es gar nicht erwarten, die Ärmel hochzukrempeln und loszulegen. Sie haben noch viel zu tun, schaffen aber alles in der Kürze der Zeit.</p>
                <p>Die Launen des IMPP sind schon seltsam. Nicht irritieren lassen. Trotz der Herausforderungen durch unangenehme Prüfungskomitees glänzen Sie mit guten Einfällen und zielsicherem Raten. Sie sind nicht zu bremsen.</p>
                <p>Ab Anfang bis Mitte Oktober dann begrüßt Sie die Welt an knackig frischen Herbstmorgenden lächelnd. Sie blühen auf.</p>
                <p>Nach einer kurzen Phase, die sowohl wilde Feierei als auch Erholung beinhaltet, beginnt ein neuer Abschnitt in einer unbekannten Umgebung. Sie sind voller Power, fühlen sich von innen heraus stark und glänzen! Das bringt Ihnen Respekt und Anerkennung ein. Nutzen Sie die Kraft, das Steuer zu richten und etwas für Ihre Selbstverwirklichung zu tun. Sie strahlen einen prickelnden Charme aus und werden auch im Freizeit-Bereich auf interessante Menschen treffen und neue Freundschaften knüpfen.</p>
                <p>Zwischenzeitlich könnte der Bedarf nach einem kurzen Urlaub aufkommen - Gehen Sie dem nach. Gemeinsam werden Sie Tage mit erfüllenden Erlebnissen genießen und Abende entspannt ausklingen lassen. Dank Ihrer inspirierenden Art sind Reisen mit Ihnen für Ihre Begleitung ein Genuss.</p>
                <p>Für heute Abend ist es empfehlenswert auszugehen und sich zu amüsieren. Im Kreise lieber Menschen lässt es sich unbekümmert plaudern und lachen.</p>
                <p>Gönnen Sie sich eine Pizza!</p>
                <p>Abgesehen davon bleibt zu sagen: Wenn Sie sich an Ihre Träume erinnern, dann bitte aufschreiben.</p>
                <h2>Horoskop für alle anderen</h2>
                <p>Waage - Skorpion - Schütze - Steinbock - Wassermann - Fische - Widder - Stier - Zwillinge - Krebs - Löwe (24.09. - 23.08.)</p>
                <p>Ärgeren Sie sich nicht, wenn Sie Gläser fallen lassen oder die Wohnungsschlüssel verlegen. Es liegt nicht an Ihnen - Es ist Ihr Sternzeichen. Sie dürften in der kommenden Zeit kleineren und größeren Unannehmlichkeiten begegnen. Je weniger Sie sich davon stressen lassen, desto mehr erreichen Sie. Telefonieren Sie doch einfach mal eine halbe Stunde mit Ihrer guten Freundin, die Jungfrau ist. Das wirkt Wunder.</p>
                <p>Es liegt in der Tat eine erhebliche Spannung in der Luft. Sie sind latent nervös. Vielleicht wird Ihnen der Alltag zu eng. Was hilft dabei? Entweder: Versuchen Sie, dezent im Hintergrund zu bleiben. Alternative: Raus kommen, den Kopf frei machen. Ab Oktober lohnt es sich, der Hauptstadt einen Besuch abzustatten und ein bisschen Großstadtluft zu schnuppern. Die Metropole hält bereichernde Momente und wohltuende Menschen bereit. Insbesondere diese eine wundervolle Freundin, deren vorübergehende Abwesenheit Sie schmerzlich spüren.</p>
            </div>
            <video src="{{ url_for('static', filename='images/fractal2.mp4') }}" class="gif-video" autoplay loop muted playsinline></video>
        </div>
        <div class="guestbook">
            <h2>Pinnwand</h2>
            <form id="guestbook-form" class="guestbook-form">
                <input type="text" id="guestbook-name" placeholder="Your Name" required>
                <textarea id="guestbook-message" placeholder="Your Message" required></textarea>
                <button type="submit">Auf Pinnwand posten</button>
            </form>
            <div id="guestbook-entries" class="guestbook-entries"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/music-player.js') }}"></script>
</body>
</html>
